.social-buttons-placeholder {

}

.social-button {
	height: 20px;
	background-image: url('../img/social-placeholder.png');
	background-repeat: no-repeat;
    background-position: 0 0;
}

.fb-button {
	width: 79px;
}

.tw-button {
	width: 60px;
	background-position: -107px 0;
}

.tw-button a {
	display: none;
}

.gp-button {
	width: 50px;
    background-position: -195px 0;
}